.nav{
    background-color: rgb(3, 66, 128);
    color: white;
    margin: 0px;
}
*{
    box-sizing: border-box;
    margin: 0px;
}
.background {
    background-color: rgb(3, 66, 128);
    height: 100vh;
}
.button{
    border-radius: 30px;
    color:white;
    width:200px;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}
p{
    color: grey;
    font-size:25px;
}
img {
    height: 400px;
    width: 400px;
    animation: float 8s infinite;
}
@keyframes float {
    0%{
        transform: translateY(15px);
    }
    25%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(15px);
    }
    75%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(15px);
    }
    
}
.size{
    font-size: 30px;
}
.align{
    align-items: center;
}
.color{
    color: white;
}
@media screen and (max-width:768px) {
    h1{
        font-size: 27px;
    }
    p{
        font-size: 15px;
    }
    img{
        height: 300px;
        width: 300px;
    }
    .button{
        width: 150px;
    }
}